
.box {
	border: 1px solid black;
	width: 50px;
	height: 50px;
	padding: 10px;
	font-weight: bold;
	color: white;
	margin-right: 50px;
	margin-top: 50px;
	font-size: 14px;
	float: left;
	position: relative;

}

.box>img { 
	position: absolute;
	top: -40px;
	right: -40px;
}

.box:nth {
	clear: left;
}


#box-red {
	background-color: red;
	
}

#box-orange {
	background-color: orange;
	
}

#box-yellow {
	background-color: yellow;
}

#box-green {
	background-color: green;
	
}

#box-blue {
	background-color: blue;
}
 
#box-violet {
	background-color: violet;
 }

h1 {
	margin-bottom: 0; }




