h1 {
	color: #337335;
	text-decoration: underline;
}

#main-header {
	color: red;
} 

.extra-large {
	font-size: 200px;
}

#container h1 {
	color: blue;
}

/* unvisited link (:link) */
a:link {
	color:red;
}

/* visited link (:visited) */
a:visited {
	color:black;
}

/* mouse hover over link (:hover) */
a:hover {
	color:blue;
}

/* active/selected link (:active) */
a:active {
	color:green;
}